/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* common classes*/
.left {
  float: left;
}
.right {
  float: right;
}
.cl {
  clear: left;
}
.cr {
  clear: right;
}
.cb {
  clear: both;
}
.bold {
  font-weight: 700;
}
.hidden {
  display: none;
}
/* font face declarations */
@font-face {
  font-family: "Aller";
  src: url("../fonts/Aller.eot");
  src: local("â�ş"), url("../fonts/Aller.ttf") format("truetype");
}
/*main css code*/
html {
  margin: 0;
  padding: 0 0 1px;
  height: 100%;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff url("../images/bg1.jpg") no-repeat 50% 0 fixed;
  font: 0.75em/1.5 Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
}
body.style-1 {
  background-image: url("../images/bg1.jpg");
}
body.style-2 {
  background-image: url("../images/bg2.jpg");
}
body.style-3 {
  background-image: url("../images/bg3.jpg");
}
body.style-4 {
  background-image: url("../images/bg4.jpg");
}
body.style-5 {
  background-image: url("../images/bg5.jpg");
}
body.style-6 {
  background-image: url("../images/bg6.jpg");
  background-position: 50% 100%;
}
body.style-7 {
  background-image: url("../images/bg7.jpg");
}
body.style-8 {
  background-image: url("../images/bg8.jpg");
}
body.style-9 {
  background-image: url("../images/bg9.jpg");
}
body.style-10 {
  background-image: url("../images/bg10.jpg");
}
a {
  color: #0066aa;
}
strong {
  font-weight: 700;
}
/* contact info */
.wrapper {
  width: 870px;
  margin: 0 auto;
  padding: 30px 0;
}
.cv {
  overflow: hidden;
  width: 840px;
  padding: 20px 0 20px 30px;
  border-top: 15px solid #fdb020;
  border-bottom: 15px solid #fdb020;
  background: transparent url("../images/cv_bg.png");
}
.personal {
  float: left;
  width: 60%;
}
p.photo {
  float: left;
  margin-right: 20px;
}
p.photo img {
  padding: 10px;
  border: 1px solid #dedede;
  background: #fff;
}
h1 {
  float: left;
  margin-bottom: 8px;
  padding: 0 6px;
  background: #fdb020;
  color: #fff;
  font-size: 4em;
  font-weight: 500;
  font-family: "Aller";
  line-height: 1.3em;
  letter-spacing: -1px;
}
h2 {
  float: left;
  color: #475261;
  font-size: 1.666em;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.zce-logo {
  float: left;
  margin: -17px 0 0 24px;
}
.contact {
  float: right;
  width: 35%;
}
.cv dl {
  overflow: hidden;
  clear: both;
  padding-top: 24px;
}
.cv dt {
  float: left;
  width: 60px;
  padding: 0 6px 3px 0;
  text-align: right;
}
.cv dd {
  float: left;
  width: 200px;
  padding-bottom: 3px;
}
.cv dd a {
  color: #0066aa;
  text-decoration: underline;
}
.cv .born-info {
  display: none;
}
ul.social-links {
  float: right;
  overflow: hidden;
  margin-right: 20px;
}
ul.social-links li {
  float: left;
  margin-right: 8px;
}
p.more {
  display: none;
  float: left;
  padding: 30px 0 0 20px;
}
.js p.more {
  display: block;
}
/* details */
.cv-details {
  overflow: hidden;
  width: 840px;
  padding: 20px 0 0 30px;
  border-bottom: 15px solid #fdb020;
  background: transparent url("../images/cv_bg.png");
}
/*.js .cv-details { display: none; }*/
.details {
  overflow: hidden;
}
.primary-col {
  float: left;
  width: 410px;
}
.secondary-col {
  float: left;
  width: 335px;
  margin-left: 60px;
}
.details .section {
  overflow: hidden;
  padding-bottom: 10px;
}
.section h3 {
  float: left;
  padding: 0 5px;
  background: #fdb020;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
}
.section h4 {
  font-size: 1.25em;
}
.section h5 {
  padding-left: 20px;
  background: transparent url("../images/point.png") no-repeat 0 8px;
  font-size: 1.25em;
  -webkit-print-color-adjust: exact;
}
.section h4 a,
.section h5 a {
  float: right;
  text-decoration: underline;
}
.section dl {
  float: left;
  width: 100%;
  padding-top: 5px;
}
.section dt {
  color: #7f7f7f;
  font-weight: 700;
  font-size: 1.25em;
}
.section dd {
  padding: 0 0 20px 40px;
}
.section dd p {
  padding: 5px 0 0 0;
  color: #595959;
  text-align: justify;
}
.secondary-col .section dd {
  padding: 0 0 16px 20px;
}
.secondary-col .section dd li {
  padding: 5px 0 0 20px;
  background: transparent url("../images/point.png") no-repeat 0 9px;
  text-align: justify;
  -webkit-print-color-adjust: exact;
}
.secondary-col .section dd li .metadata {
  color: #595959;
  font-size: .9em;
}
.legal-notice {
  display: none;
  overflow: hidden;
  clear: both;
  font-size: 11px;
}
/* style for print */
@media print {
  a,
  .section h3,
  .section dt {
    background: none;
    color: #000;
  }
  h1 {
    background: #fff;
    color: #333;
  }
  ul.social-links {
    display: none;
  }
  .section dd p {
    color: #000;
  }
  .cv {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .cv .born-info {
    display: inline;
  }
  .cv dl {
    padding-top: 40px;
  }
  .legal-notice {
    display: block;
  }
  .section h4 a,
  .section h5 a {
    display: none;
  }
  .secondary-col .section dd li .metadata {
    color: #000;
  }
}
